.mainDiv {
    display: flex;
}

.leftDiv {
    border: 2px solid rgb(98, 124, 172);
    width: 34%;
    margin-left: 2%;
    padding: 3%;
}

.ImageDiv {
    margin-top: 4%
}

.ImageDiv > img {
    width: 295px;
    height: 250px;
}

.leftDiv > div:nth-child(2) > div {
    padding-left: 3%;
}

.leftDiv > div:nth-child(3) > div {
    padding-left: 3%;
}

.leftDiv > div:nth-child(3) > div > p {
    padding-left: 3%;
}

.leftDiv > div:nth-child(3) > p {
    padding-left: 3%;
}

.mailDiv {
    display: flex;
    color: black;
}

.mailDiv > img {
    width: 40px;
    height: 40px;
    margin-right: 2.5%;
    margin-left: -1%;
}

.numDiv {
    display: flex;
    color: black;
}

.numDiv > img {
    width: 30px;
    height: 30px;
    margin-top: 2%;
    margin-right: 2.5%;
}

.linkdinDiv {
    display: flex;
    color: black;
}

.linkdinDiv > img {
    width: 25px;
    height: 25px;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 0.9%
}

.locationDiv {
    display: flex;
    color: black;
}
.locationDiv > img {
    width: 30px;
    height: 30px;
    margin-top: 2%;
    margin-right: 2.5%;
}

.githubDiv {
    display: flex;
    color: black;
}

.githubDiv > img {
    width: 35px;
    height: 35px;
    margin-top: 1%;
    margin-right: 2%;
}

.rightDiv {
    /* border: 1px solid red; */
    width: 48%;
    margin-left: 2%;
    padding: 3%;
}

.rightDiv > p {
    padding-left: 3%;
}

.allProject {
    padding-left: 3%;
}

.firstProjectDiv {
    display: flex;
}

.firstProjectlink > img {
    width: 40px;
    height: 40px;
    margin-top: 19%;
}

.firstProjectDiv > h3 {
    text-decoration: underline;
}

span {
    padding: 15%;
}

.allProject > div:first-child > div:last-child {
    padding-left: 4%;
}

.subprojectDiv {
    padding-left: 4%;
}